[http]
#	proxy = http://127.0.0.1:8080
[user]
	email = yury@upbound.io
	name = Yury Tsarev
	signingkey = C2B59637508731E5
[color]
	ui = true
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
	co = checkout
	br = branch -vv
	ci = commit -s
	pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pru  = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	ls = log --pretty=format:"%C(green)%h\\ %C(yellow)[%ad]%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
	ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
[apply]
	whitespace = warn
[gpg]
	program = /usr/local/bin/gpg
[commit]
	gpgsign = true
[format]
    	signOff = true
[fetch]
	prune = true
[credential]
	helper = store
